html, body, #root, .wrapper {
    overflow: hidden;
}

.wrapper {
    display: flex;
    flex-direction: column;
    background-color: #e1e1e1;
    min-height: 100vh;
}

.content {
    overflow: auto;
    background-color: white;
    margin: 0em 2em;
    padding: 1em;
    flex-grow: 1;
}

/* Scroll */
/* width */
::-webkit-scrollbar {
    width: 0.4em;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 1em;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 1em;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@media screen and (max-width: 600px) {
    .content {
        margin: 0 2px;
        padding: 0.5em;
    }
}